header
  nav.navbar.navbar-expand-md.navbar-light.fixed-top.bg-white
    a.navbar-brand(href="/")
     img(src="../images/logo1.png" style="width:110px;height:55px;")
    button.navbar-toggler(type="button"
                          data-toggle="collapse"
                          data-target="#navbarCollapse"
                          aria-controls="navbarCollapse"
                          aria-expanded="false"
                          aria-label="Toggle navigation")
      span.navbar-toggler-icon

    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item: a.nav-link(href="/") Home
        li.nav-item: a.nav-link(href="/about") About
        li.nav-item: a.nav-link(href="/volunteer") Volunteer
        li.nav-item: a.nav-link(href="/schedule") Schedule for Pick-up
      a.btn.btn-lg.btn-primary(href="/donate") DONATE 
          