extends ../layout

block content
  h1 Schedule A Pick up

  form(method="POST" style='background-color: #f2f2f2; border-radius: 5px; padding:10px')
    .form-group
      label(for="addressInput") Address
      input.form-control#addressInput(
        name="address"
        type="address"
        required
        placeholder="Enter address"
      )

    .form-group
      label(for="date") Date
      input.form-control#dateInput(
        name="date"
        type="date"
        required
        placeholder="Date"
      ) 

    .form-group
      label(for="time") Time
      input.form-control#timeInput(
        name="time"
        type="time"
        required
        placeholder="Time"
      )   

    button.btn.btn-primary(type="submit") Submit