extends ../layout

block content
  h1 Volunteer Application Form

  form(method="POST")
    .form-group
      label(for="firstnameInput") First Name
      input.form-control#firstnameInput(
        name="firstname"
        type="firstname"
        placeholder="Enter First Name"
      )

    .form-group
      label(for="lastnameInput") Last Name
      input.form-control#lastnameInput(
        name="lastname"
        type="lastname"
        placeholder="Enter Last Name"
      )
      
    .form-group
      label(for="addressInput") Address
      input.form-control#addressInput(
        name="address"
        type="address"        
        placeholder="Enter Address"
      )

    .form-group
      label(for="phonenumberInput") Phone number
      input.form-control#phonenumber(
        name="phonenumber"
        type="phonenumber"
        placeholder="Phone Number"
           
      )
  
    button.btn.btn-primary(type="submit") Submit